# This is the first code in data mining

In [1]:
print ("Hello")

Hello

# Basic data types

In [2]:
#integers

x = 3
print (x)
print(type(x))

3
<class 'int'>

In [5]:
name = "Nikhil"
print(name)$
print(type(name))

Nikhil
<class 'str'>

In [6]:
h= 9
w = 'nikhil'

print(type(h))
print(type(w))

print (h+w)

<class 'int'>
<class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# showing error

In [7]:
t = True
f = False

print(t)
print(type(t))

True
<class 'bool'>

# Basic operations

In [8]:
x = 3

print( x + 1)
print( x - 2)
print (x * 2)
print (x ** 2)
print (x-4)

4
1
6
9
-1

In [11]:
x += 2
print(x)

12

In [12]:
x **=2
print(x)

144

In [13]:
t = True
f = False

print(t and f)
print(t or f)

False
True

In [20]:
s = "Nikhil"

print(len(s))
print(s.capitalize())
print(s.upper())
print(s.replace('l', 'le'))
print(' Nikhil '.strip())

6
Nikhil
NIKHIL
Nikhile
Nikhil

In [17]:
hw = 'hello' + ' ' + 'pokhara'
print(hw)

hello pokhara

In [24]:
city1 = "Kathmandu"
city2 = "Pokhara"
distance = 200
unit = "Kilometers"
print ("%s is %d %s away from %s." % (city1, distance, unit, city2))

Kathmandu is 200 Kilometers away from Pokhara.

# Foreach loop

In [25]:
x = 4
for i in range (0, x):
    print(i)
    x = 10

0
1
2
3

In [27]:
print(x)

10

# Functions and Iterations

In [30]:
def nikhil(city):
    print(city)
    return 'Hello ' + city + '!'

print(nikhil('Pokhara'))
print(nikhil('kathmandu'))

Pokhara
Hello Pokhara!
kathmandu
Hello kathmandu!

In [33]:
def my_loop_function(city):
    for x in city:
        print(x)
        
cities = ["Pokhara", "Kathmandu", "Tashkent"]

my_loop_function(cities)

Pokhara
Kathmandu
Tashkent

# Exercise 

write a function that takes 'city name' as input and prints 'city name'must be a beautiful city

In [36]:
def city(x):
    print(x)
    
cty = input("Enter the city name:")
city(cty + ' must be beautiful.')

Enter the city name:Dharan
Dharan must be beautiful.

# Reference semantics -Immutable and mutable data types

In [37]:
a = [2, 3, 4]
b = a
print(a)
print(id(a))
print(b)
print(id(b))

a.append(4)

print(a)
print(id(a))
print(b)
print(id(b))

[2, 3, 4]
1635373462208
[2, 3, 4]
1635373462208
[2, 3, 4, 4]
1635373462208
[2, 3, 4, 4]
1635373462208

In [38]:
#python lists

cities = ["Pokhara", "Kathmandu", "Mumbai"]
print(cities)
print(cities[2])

['Pokhara', 'Kathmandu', 'Mumbai']
Mumbai

In [39]:
cities.append('Dhaka')
print(cities)
last_city = cities.pop()
print(cities)

['Pokhara', 'Kathmandu', 'Mumbai', 'Dhaka']
['Pokhara', 'Kathmandu', 'Mumbai']

In [40]:
#Exercise
#create a list of your 3 favourate foods. add your freinds fav foods

In [50]:
my_fav_food = ['panipur', 'masu', 'laphing']
print(my_fav_food)
prak = ['momo', 'chowmin']

new = my_fav_food + prak
print(new)

['panipur', 'masu', 'laphing']
['panipur', 'masu', 'laphing', 'momo', 'chowmin']