Print the name of your home town or your friend:

In [2]:
print("Pramila");

Pramila

In [12]:
print("Renuka")

Renuka

# Basic Data Types:

In [ ]:
##Basic Data Types

In [3]:
#integers
x = 3;
print(x)
print(type(x))

3
<class 'int'>

In [8]:
#Strings

h = "Hello";
w = "World";

print(h)
print(type(h))

print(w)
print(type(w))

print(w+h)
print(h +w)

Hello
<class 'str'>
World
<class 'str'>
WorldHello
HelloWorld

In [9]:
h = 9 
w = 'nepal'
print(h + w)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
#Boolean
t = True
f = False

print(t)
print(type(f))

True
<class 'bool'>

# Basic Operations

numeric, shorthand, string

In [13]:
#numeric Operators:

x = 3 ;

print(x+1)
print(x -1)
print(x * 2)
print(x ** 2)
print(x-4)

4
2
6
9
-1

In [16]:
#shorthand operators:

print(x)
x += 1
print(x)

x*= 2
print(x)

x+=2
print(x)

x**=2
print(x)

41616
41617
83234
83236
6928231696

In [17]:
# Boolean operator
t = True
f= False

print(t and f)
print(t or f)
print(not t)
print(t != f)
print(t)

False
True
False
True
True

In [18]:
#String Concatenation

h = hello + ' ' + Pokhara
print(h)

NameError: name 'hello' is not defined

In [23]:
#String Concatenation

h = 'Hello' + ' ' + 'Pokhara'
print(h)

Hello Pokhara

In [29]:
 s = 'pokhara'
    
print(len(s))
print(s.capitalize())
print(s.upper())
print(s.replace('ra', 'reli'))
print(' Pokhara ' .rstrip())

7
Pokhara
POKHARA
pokhareli
 Pokhara

In [36]:
#string formatting
city ="Pokhara"
print(f"Hello, {city}!") ###after f there should be no any space

Hello, Pokhara!

# LOOP

In [38]:
x = 5
for i in range (0 , x):
    print(i)

0
1
2
3
4

# Functions and iterations

In [42]:
def my_function (city):
    print(city)
    return 'Hello' + ' ' + city + "!"

print(my_function('Pokhara'))
print(my_function('Kathmandu'))

Pokhara
Hello Pokhara!
Kathmandu
Hello Kathmandu!

In [46]:
def my_loop_function(city):
    for x in city:
        print(x)
        
cities = ['Pokahara', 'Kathmandu', 'Lalitpur']

my_loop_function(cities)

Pokahara
Kathmandu
Lalitpur

# Exercise 
## Write a function that takes city name as input and prints'city name' must be a beautiful city. But we bet not as beautiful as Pokhara

In [47]:
def city_name(x):
    print(x)
city = input ("Enter a city name:")
city_name(city)

Enter a city name:Pokhara
Pokhara

# Mutable and immutable data

In [48]:
a = [1,2,3]
b = a
print (a)
print(id(a))

print(b)
print(id(b))

a.append(4)
print(a)
print(id(a))
print(b)
print(id(b))

[1, 2, 3]
4405930752
[1, 2, 3]
4405930752
[1, 2, 3, 4]
4405930752
[1, 2, 3, 4]
4405930752

# Python Data types- List , Tuples, Sets and Dictionaries

In [49]:
cities = ["Pokhara", "Kathmandu", " Mumbai"]
print(cities)
print(cities[2])

['Pokhara', 'Kathmandu', ' Mumbai']
 Mumbai

In [50]:
cities.append('Dhaka')
print(cities)

['Pokhara', 'Kathmandu', ' Mumbai', 'Dhaka']

In [53]:
cities.append(1)
cities.append('Lalitpur')
print(cities)

['Pokhara', 'Kathmandu', ' Mumbai', 'Dhaka', 1, 'Lalitpur']

In [54]:
last_city = cities.pop()
print(cities)

['Pokhara', 'Kathmandu', ' Mumbai', 'Dhaka', 1]

#

In [62]:
foods =['Mo:MO', 'Pizza']
foods.append('Coffee')
foods.append('Noodles')
print(foods)

['Mo:MO', 'Pizza', 'Coffee', 'Noodles']

In [59]:
#Tuples:

tu =(23 , 'abc', 4.56, (2,3), 'def')
print(tu[1])
print(tu[0])

abc
23